header.masthead
{
    text-align: center;
    color: #fff;
    background-image: url(/unsplash/atikh-bana-zPFws4toKhg-unsplash.jpg) !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}